<div class="cover"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="cottage-show-card">
        <h1><strong><%= @cottage.name %></strong></h1>
        <h4 class="d-inline-block text-emphasis mt-3 me-4"><%= @cottage.address %></h4>
        <h4 class="d-inline-block text-muted mx-4 ms-5"><%= @cottage.description %></h4>
        <div class="cottage-image">
        </div>
      </div>

      <div class="cottage-show-card">
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae tempus quam pellentesque nec. Sed enim ut sem viverra aliquet eget sit amet. Convallis a cras semper auctor neque vitae. Mauris cursus mattis molestie a iaculis at erat. Lobortis feugiat vivamus at augue eget arcu dictum. Non blandit massa enim nec dui nunc. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Massa tincidunt dui ut ornare lectus sit amet est. Commodo odio aenean sed adipiscing diam donec adipiscing tristique. Scelerisque eu ultrices vitae auctor.</p>
      </div>

      <div class="col-4">
      <div class="flight-show-card">
        <h4>Book this flight</h4>
      </div>
    </div>
    </div>


  </div>
</div>
