<div class="footer">
  <a class="footer-icon mx-2" href="#"><i class="fa-brands fa-facebook"></i></a>
  <a class="footer-icon mx-2" href="#"><i class="fa-brands fa-instagram"></i></a>
  <a class="footer-icon mx-2" href="#"><i class="fa-brands fa-twitter"></i></a>
  <p class="copyright">© CityEscapes 2023</p>
</div>