.footer {
  background-color: rgb(220, 220, 245);
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 1.25rem;
}

.copyright {
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
}

.footer-icon {
  color: #2c2d32;
}

.fa-brands {
  margin-bottom: 20px;
}
